<html>
    <head>
        <title>BLOG</title>
    </head>
<body>
    <div>
        <h1> <a href="/"> Blog Django Cris </a> </h1>
    </div>
    <div>
        <p>Publicado em 28:09:2024, 12:20</p>
        <h2> <a href="">  Meu primeiro blog</a></h2>
        <p>Ah cara, aqui ela não escreveu nada, mas ja tô meio cansado, mas devo pegar o ritmo.</p>
        <div>

        </div>
        <p>Publicado em 29:09:2024, 12:54</p>
        <h2> <a href=""> Meu segundo blog</a></h2>
        <p>God bless for no to be a bastarad like many people, i just wanna one bit of money and peace</p>
    </div>
    <p style="position:fixed;">Hey Guys</p>
<p style="text-decoration:underline;">Always learning</p>
</body>



</html>